USE SwimClubMeet
GO

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT

BEGIN TRANSACTION

DECLARE @SQL NVARCHAR(MAX) = N'';

SELECT @SQL += N'
ALTER TABLE ' + OBJECT_NAME(PARENT_OBJECT_ID) + ' DROP CONSTRAINT ' + OBJECT_NAME(OBJECT_ID) + ';' 
FROM SYS.OBJECTS
WHERE TYPE_DESC LIKE '%CONSTRAINT' AND OBJECT_NAME(PARENT_OBJECT_ID) = 'Member' AND OBJECT_NAME(OBJECT_ID) LIKE '%DF%';

--PRINT @SQL
EXECUTE(@SQL)
GO
COMMIT

BEGIN TRANSACTION
GO

ALTER TABLE dbo.Member ADD CONSTRAINT
	DF_Member_IsArchived DEFAULT 0 FOR IsArchived
GO
ALTER TABLE dbo.Member ADD CONSTRAINT
	DF_Member__IsActive DEFAULT 1 FOR IsActive
GO
ALTER TABLE dbo.Member ADD CONSTRAINT
	DF_Member_IsSwimmer DEFAULT 1 FOR IsSwimmer
GO

ALTER TABLE dbo.Member ADD CONSTRAINT
	DF_Member_EM_NomineeForm DEFAULT 0 FOR EnableEmailNomineeForm
GO

ALTER TABLE dbo.Member ADD CONSTRAINT
	DF_Member_EM_SessionReport DEFAULT 0 FOR EnableEmailSessionReport
GO

ALTER TABLE dbo.Member SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

-- select Has_Perms_By_Name(N'dbo.Member', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Member', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Member', 'Object', 'CONTROL') as Contr_Per 