USE [SwimClubMeet]
GO
/****** Object:  UserDefinedFunction [dbo].[TimeToBeat_2]    Script Date: 21/09/2026 2:29:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ben Ambrose
-- Create date: 3/8/2019
-- Updated 16/5/2020
-- Modified 12/02/24 - Replaced TOP(3) now uses ROW_NUMBER()
-- Description:	Get the timeToBeat for a given member
-- Use the average of the 3 fastest race times.
-- =============================================
ALTER FUNCTION [dbo].[TimeToBeat_2] (
	-- Add the parameters for the function here
	@MemberID INT,
	@DistanceID INT,
	@StrokeID INT,
	@SessionDate DATETIME
	)
RETURNS TIME
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result TIME;
	DECLARE @tmpFloat FLOAT;
	

/*
	WITH tmpTable
	AS (
		SELECT TOP (3) [Event].DistanceID,
			[Event].StrokeID,
			Entrant.RaceTime,
			Entrant.MemberID
		FROM Entrant
		INNER JOIN HeatIndividual ON Entrant.HeatID = HeatIndividual.HeatID
		INNER JOIN [Event] ON HeatIndividual.EventID = [Event].EventID
		INNER JOIN [Session] ON [Event].SessionID = [Session].SessionID
		WHERE (Entrant.RaceTime IS NOT NULL)
			AND (Entrant.IsDisqualified <> 1) -- added 16/5/2020
			AND (Entrant.IsScratched <> 1) -- added 16/5/2020
			AND (Entrant.MemberID = @MEMBERID)
			AND ([Session].SessionStart < @SESSIONDATE)
			AND [Event].DistanceID = @DISTANCEID
			AND [Event].StrokeID = @STROKEID
		-- ErStudio VALIDATION ERROR - doesn't understand TOP + ORDER BY
		-- ACCEPTED BY MS SQL - TOP is permitted in CTE table when ORDER BY is included
		ORDER BY Entrant.RaceTime ASC
		)
*/
	

	-- very specific criteria 
	-- only pull a short list of racetime 
	-- not ordered
	WITH tmpTable AS (
		SELECT 
			[Event].DistanceID,
			[Event].StrokeID,
			Entrant.RaceTime,
			Entrant.MemberID,
			ROW_NUMBER() OVER (ORDER BY Entrant.RaceTime ASC) AS rn
		FROM Entrant
		INNER JOIN HeatIndividual ON Entrant.HeatID = HeatIndividual.HeatID
		INNER JOIN [Event] ON HeatIndividual.EventID = [Event].EventID
		INNER JOIN [Session] ON [Event].SessionID = [Session].SessionID
		WHERE (Entrant.RaceTime IS NOT NULL)
			AND (Entrant.RaceTime > '1900-01-01') --    added 21-09-2026
			AND (Entrant.IsDisqualified <> 1) --added 16/5/2020
			AND (Entrant.IsScratched <> 1) -- added 16/5/2020
			AND (Entrant.MemberID = @MEMBERID)
			AND ([Session].SessionStart < @SESSIONDATE)
			AND [Event].DistanceID = @DISTANCEID
			AND [Event].StrokeID = @STROKEID
	)
	SELECT @tmpFloat = AVG(CAST(CAST(tmpTable.RaceTime AS DATETIME) AS FLOAT))
	FROM tmpTable
	WHERE rn <= 3;

	SET @Result = CAST(CAST(@tmpFloat AS DATETIME) AS TIME);

	RETURN @Result;
END
