/*
   Tuesday, 22 September 202611:40:20 AM
   User: 
   Server: DESKTOP-MOITPNS\SQLEXPRESS
   Database: SwimClubMeet
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.SwimClub ADD
	GUID uniqueidentifier NOT NULL CONSTRAINT DF_SwimClub_GUID DEFAULT (newsequentialid())
GO
ALTER TABLE dbo.SwimClub SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.SwimClub', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.SwimClub', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.SwimClub', 'Object', 'CONTROL') as Contr_Per 